<a href="https://colab.research.google.com/github/PassionsQuietRage/learn-co-sandbox/blob/master/Step_1_1a_Python_Foundations_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("I am new to Python!") #It is possible to write within my code blocks without python using #

I am new to Python!

In [2]:
age = input('What is your age? ')
name = input('What is your name? ')
print('Welcome to the world of Python,', name, age )

What is your age? 29
What is your name? Kyle
Welcome to the world of Python, Kyle 29

In [8]:
# define a string 
discount = 43.8

# check type 
type(discount)

float

In [9]:
height = 143
type(height)

int

In [10]:
address = '#301, Pelican Street'
type(address)

str

In [15]:
# define a list
my_favs = ['red', 'Mac & Cheese', 'Ireland']
print(my_favs)

# check length of the list
print(len(my_favs))

# check type
type(my_favs)

['red', 'Mac & Cheese', 'Ireland']
3

list

In [17]:
# define range with (start,stop,step)
range_example = range(4,40)
print(range_example)

# check length of the range
print(len(range_example))

# check type
type(range_example)

range(4, 40)
36

range

In [18]:
# define a dictionary
student = {'Jake': 70, 'Mako': 75, 'Alex': 78.5}
print(student)

# check type
type(student)

{'Jake': 70, 'Mako': 75, 'Alex': 78.5}

dict

In [22]:
pi = 3.14
radius = 2.0
print(pi*radius**2)

12.56

In [23]:
x = 12.56
y = 50
print(x >= y)

False

In [32]:
# a and b are true
a = 12.56>20 
b = 12.56<50

print(a and b)

False

In [ ]:
# bind number 7 to variable 'x'
x = 7 # the value of 7 is assigned to x 

# print value of 'x'
print(x)

7

In [ ]:
age = 29
print(age)

29